.container {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.link {
  color: #f1356d;
}
